* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color: #3189e8;
$secondary-color: #22262b;
$accent-color: #fff;
$accent-color2: #676a6d;

$breakpoint-hd: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-tablet2: 1024px;

button:focus {
  outline: 0;
}

@mixin transition-ease {
  transition: 0.5s ease-in-out;
}

@mixin transition-ease-fast {
  transition: 0.25s ease-in-out;
}
