.landing_page {
  height: 120vh;
  width: 100%;
  margin-top: -10vh;
  background: $accent-color2;
}

.slider-wrapper {
  width: 100%;
  height: 90vh;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: 90vh;
}

.buttons {
  width: 120px;
  height: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -450px auto 80px;
}

.slide-indicator {
  border: 2px solid $accent-color;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  z-index: 999;
  @include transition-ease-fast;
  cursor: pointer;
}

.btn-background {
  background-color: $primary-color;
}

.slide-h2 {
  position: absolute;
  margin-top: -750px;
  margin-left: 60%;
  width: 400px;
  z-index: 999;
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.85);
}

.slide-p {
  position: absolute;
  margin-top: -680px;
  margin-left: 60%;
  width: 400px;
  z-index: 9;
  color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.85);
}

.main {
  background: $secondary-color;
  width: 100%;
  height: 60vh;
}

.slider__menu--wrapper {
  width: 100%;
  height: 500px;
  margin-top: -50px;
  display: flex;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  .slider__divs {
    width: 300px;
    height: 450px;
    background: #fff;
    z-index: 10;
    box-shadow: 7px 7px 15px -2px rgba(0, 0, 0, 0.75);
    @include transition-ease-fast;
    background-position: center;
    margin-left: 20px;
    margin-right: 20px;

    &:hover {
      box-shadow: 11px 14px 24px 2px rgba(0, 0, 0, 0.75);
      width: 320px;
      height: 470px;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .content-wrapper {
      width: 280;
      height: 430;
      display: flex;
      align-items: flex-end;
    }

    #slider__h2--1,
    #slider__h2--2,
    #slider__h2--3 {
      margin-top: 22px;
      margin-bottom: 10px;
    }

    .slider__divs--h2 {
      font-family: "Roboto", sans-serif;
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
      color: #cccccc;
    }

    .slider__divs--p {
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      font-weight: 100;
      color: #e0e0e0;
      padding: 0 20px;
      word-spacing: 2px;
    }
  }

  #slider-div1 {
    background: url("../../img/truck1-dark.jpg") center top;
    background-size: cover;
  }

  #slider-div2 {
    background: url("../../img/truck-background.jpg") center left;
    background-size: cover;
  }

  #slider-div3 {
    background: url("../../img/truck-hangar.jpg") center top;
    background-size: cover;
  }

  .more__info {
    height: 55px;
    width: 150px;
    background: none;
    display: block;
    margin: 30px auto 0;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    color: $accent-color;
    @include transition-ease-fast;
    border: 1px solid white;
    cursor: pointer;

    &:hover {
      background: $primary-color;
      border: none;
    }
  }
}

@media (max-width: $breakpoint-hd) {
  .landing_page {
    height: 120vh;
    width: 100%;
    margin-top: -10vh;
    background: $accent-color2;
  }

  .slider-wrapper {
    width: 100%;
    background-size: cover;
    height: 90vh;
    margin: auto;
    overflow: hidden;
  }

  .slide-h2 {
    margin-left: 60%;
  }

  .slide-p {
    margin-left: 60%;
  }
}
