.inter__content--main {
  width: 100%;
  height: 100vh;
}

.inter__top {
  background: white;
  padding-top: 80px;
  padding-bottom: 60px;

  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: $primary-color;
    margin: 40px 20px 30px 205px;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 10px 205px 10px 205px;
    line-height: 25px;
    word-spacing: 3px;
  }
}

.inter__bottom {
  background: url(../../img/truck-hangar.jpg) center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .fas {
    color: $accent-color;
    font-size: 64px;
    margin-top: 40px;
  }

  .icons {
    margin-bottom: 70px;
    margin-top: 120px;
    height: 200px;
    width: 500px;

    .fa-warehouse {
      font-size: 50px;
    }

    h3,
    p {
      color: #b8b8b8;
      font-family: "Roboto", sans-serif;
      margin-left: 75px;
      line-height: 25px;
    }

    p {
      font-size: 18px;
      font-weight: 100;
      text-align: justify;
    }

    h3 {
      margin-top: -70px;
      color: $primary-color;
    }
  }
}
