//*********************************
//             HD

//landing page
@media (max-width: $breakpoint-hd) {
  .landing_page {
    height: 120vh;
    width: 100%;
    margin-top: -10vh;
    background: $accent-color2;
  }

  .slider-wrapper {
    width: 100%;
    background-size: cover;
    height: 90vh;
    margin: auto;
    overflow: hidden;
  }

  .slide-h2 {
    margin-left: 60%;
  }

  .slide-p {
    margin-left: 60%;
  }
}

//***************************
//       TABLETS 1024p

@media screen and (max-width: $breakpoint-tablet2) {
  //International transport

  .additional {
    width: 500px;
  }

  .inter__bottom {
    .fas {
      font-size: 48px;
      margin-top: 30px;

      margin-left: -10px;
    }

    .icons {
      margin-bottom: 70px;
      margin-top: 70px;
      height: 300px;
      width: 300px;

      .fa-warehouse {
        font-size: 40px;
      }

      h3,
      p {
        margin-left: 55px;
        line-height: 25px;
      }

      h3 {
        margin-top: -70px;
        margin-bottom: 20px;
      }
    }
  }

  .directions__main {
    .directions__moreinfo {
      padding-left: 2%;
      padding-right: 3%;

      .directions__left {
        width: 50%;
        height: 500px;
        margin-top: -10px;

        padding-left: 25px;
        padding-right: 25px;

        h1 {
          font-size: 36px;
          padding-right: 4%;
        }
      }

      .rightP {
        p {
          font-size: 17px;
        }
      }
    }
  }
}

//***************************
//          TABLETS 768p

//header
@media screen and (max-width: $breakpoint-tablet) {
  * {
    @include transition-ease;
  }

  .header {
    @include transition-ease;
  }

  .clicked {
    height: 240px;
  }

  .nav {
    .logo {
      visibility: visible;
      transform: translateX(0);
    }

    &__ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      visibility: hidden;

      &.hide {
        visibility: visible;
        transform: translateX(0);
      }

      & li,
      a {
        text-decoration: none;
        color: $accent-color;
        list-style: none;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 2rem;
        margin-bottom: 10px;
        margin-top: 10px;

        transform: translateX(100vw);
        @include transition-ease;

        &.open {
          transform: translateX(0);
        }

        &.active > a {
          border-bottom: 2px solid $primary-color;
        }
      }

      & a {
        &:hover {
          border-bottom: 2px solid $primary-color;
        }
      }
    }

    .nav__btn {
      position: absolute;
      z-index: 1;
      right: 2rem;
      top: 2rem;
      height: 20px;
      width: 28px;
      cursor: pointer;
      @include transition-ease;

      &--burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: $accent-color;
        @include transition-ease;

        &::before {
          content: "";
          position: absolute;
          top: -8px;
          width: 28px;
          height: 3px;
          background-color: $accent-color;
          @include transition-ease;
        }

        &::after {
          content: "";
          position: absolute;
          top: 8px;
          width: 20px;
          height: 3px;
          background-color: $accent-color;
          @include transition-ease;
        }

        &.open {
          transform: rotate(360deg);
          background: transparent;

          &::before {
            transform: rotate(45deg) translate(5px, 8px);
          }

          &::after {
            width: 28px;
            transform: rotate(-45deg) translate(3px, -7px);
          }
        }
      }
    }
  }

  @for $i from 1 through 5 {
    .nav__li:nth-child(#{$i}) {
      transition-delay: ($i * 0.1s) + 0.15s;
    }
  }

  .logo {
    margin-left: 0px;
    margin-top: -10px;
    cursor: pointer;
  }
}

// Slide info

@media screen and (max-width: $breakpoint-tablet) {
  .slide-h2 {
    margin-left: 5%;
  }

  .slide-p {
    margin-left: 5%;
  }

  .slider__divs {
    height: 0px;
    height: 200px;
  }

  .slider__divs--h2 {
    font-size: 20px;
    margin-top: 5px;
  }

  .main {
    height: 50vh;
  }

  .slider__menu--wrapper {
    height: 10%;

    .slider__divs {
      height: 400px;

      &:hover {
        width: 300px;
        height: 400px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0;
        padding-right: 0;
      }

      #slider__h2--1,
      #slider__h2--2,
      #slider__h2--3 {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .slider__divs--h2 {
        padding: 5px;
      }

      .slider__divs--p {
        font-size: 15px;
        line-height: 22px;
        padding: 0 10px;
        word-spacing: 2px;
      }
    }
  }

  //content

  .content {
    .content__div {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
    }

    .text-wrapper {
      width: 600px;
      height: 230px;
      margin: 0 auto;

      .content__h1 {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 28px;
        text-align: center;
        color: $primary-color;
        margin-bottom: 20px;
      }

      .content__p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 25px;
        word-spacing: 3px;
        font-weight: 500;
        text-align: justify;
        text-align: center;
        color: $secondary-color;
        width: 100%;
      }
    }

    .img-wrapper {
      width: 500px;
      height: auto;
      margin: 0 auto;

      .content__img {
        width: 500px;
        height: auto;
      }
    }
  }

  .footer__home {
    margin-top: 150px;
  }
}
